
/* header
-------------------------------------------------------------------------------*/
#hero {
	background: url("../img/header.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0% 0%;
	padding: 200px 0 280px 0;
	position: relative;
}
#hero:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left, #8b86a3, #322e40);
	opacity: 0.6;
}
.header-text{
	position: absolute;
}

/* output
----------------------------------------------------------------------------------*/
#output {
	display: none;
}